@model shoppingAPPMVC.Models.AuthenticateUser

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h1> @ViewBag.result</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="uName" class="control-label"></label>
                <input asp-for="uName" class="form-control" />
                <span asp-validation-for="uName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pwd" class="control-label"></label>
                <input asp-for="pwd" class="form-control" />
                <span asp-validation-for="pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

