



<script>
    
        function getPhotos()
        {
            fetch('https://jsonplaceholder.typicode.com/photos').then( resp => resp.json())
                                                                .then (result => {
                                                                   // alert('Success');
                                                                    //console.log(result);
                                                                for(i=0;i<result.length;i++)
                                                                {
                                                                     $("table").append("<tr>" + 
                                                                           "<td>" + result[i].albumId + "</td>" +
                                                                           "<td>" + result[i].id + "</td>" +
                                                                           "<td>" + result[i].title + "</td>" +
                                                                           "<td><img src='" + result[i].thumbnailUrl + "'/></td>" +                      
                                                                    + "</tr>")
                                                                }
                                                                }).
                                                                catch( err => {
                                                                    alert('Errorrrr');
                                                                })
        }


</script>


<button class="btn btn-warning" onClick="getPhotos()"> Get Photos </button>
<table class="table table-bordered"> </table>

