


<h1> Transfer Funds</h1>

<input type="number" placeholder="enter Account No " class="form-control"/>
<input type="number" placeholder="Enter Amount To transfer " class="form-control"/>

<button class="btn btn-primary">Transfer</button>